<h2>Home</h2>


<% if (!currentUser) { %>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
<% } else { %>
    <p>Hello, <%= currentUser.name %></p>
    <a href="/profile">Profile</a>
    <a href="/auth/logout">Logout</a>
    <ul>
    <% stories.forEach(function(story){ %>
    <li>
        <a href="<%= story.value.url %>"> <%= story.value.title %> </a>
        <form action="/categories" method="POST" name="story">
            <input type="text" hidden name="url" value="<%= story.value.url %>">
            <input type="text" hidden name="title" value="<%= story.value.title %>">
            <input type="text" name="catName" placeholder="add a category here...">
            <input type="submit" value="Add Category">
        </form>
    </li>
    <% }) %>
    </ul>
<% } %>

