


<% if (!currentUser) { %>
    <a class="loginNav" href="/auth/signup">Signup</a>
    <a class="loginNav" href="/auth/login">Login</a>
<% } else { %>
    <p>Hello, <%= currentUser.name %></p>
    <a class="loginNav" href="/profile">Profile</a>
    <a class="loginNav" href="/auth/logout">Logout</a>
    <a class="loginNav" href="/categories">Categories</a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">The Hacks</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/categories">Categories</a>
            </div>
        </div>
    </nav>

    <ul>
    <% stories.forEach(function(story){ %>
    <li>
        <a href="<%= story.value.url %>"> <%= story.value.title %> </a>
        <form action="/categories" method="POST" name="story">
            <input type="text" hidden name="url" value="<%= story.value.url %>">
            <input type="text" hidden name="title" value="<%= story.value.title %>">
            <input type="text" name="catName" placeholder="add a category here...">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </li>
    <% }) %>
    </ul>
<% } %>

